---
import { Image } from "astro:assets";
import IconEscolar from "../../Icons/IconProductos/IconEscolar.astro";
import IconGlobo from "../../Icons/IconProductos/IconGlobo.astro";

import imagen1 from "/public/ImageProductos/ColoresME.webp";
import imagen2 from "/public/ImageProductos/ResaltadoresME.webp";
import imagen3 from "/public/ImageProductos/CarpetaME.webp";
import imagen4 from "/public/ImageProductos/LapicerosME.webp";
import imagen5 from "/public/ImageProductos/ColoresFaberME.webp";
import imagen6 from "/public/ImageProductos/MarcadoresME.webp";
import imagen7 from "/public/ImageProductos/CuadernosME.webp";
import imagen8 from "/public/ImageProductos/EscuadraME.webp";

import imagen9 from "/public/ImageProductos/BombasPJ.webp";
import imagen10 from "/public/ImageProductos/InflaglobosPJ.webp";
import imagen11 from "/public/ImageProductos/BolcanPJ.webp";
import imagen12 from "/public/ImageProductos/NumerosPJ.webp";
import imagen13 from "/public/ImageProductos/TioRicoPJ.webp";
import imagen14 from "/public/ImageProductos/StopPJ.webp";
import imagen15 from "/public/ImageProductos/EnredadosPJ.webp";
import imagen16 from "/public/ImageProductos/TorrePJ.webp";

import imagen17 from "/public/ImageProductos/MOUSEINALAMBRICOTCN.webp";
import imagen18 from "/public/ImageProductos/MEMORIATCN.webp";
import imagen19 from "/public/ImageProductos/PapelFotograficoTCN.webp";
import imagen20 from "/public/ImageProductos/PAPELFOTOGRAFICO-TCN.webp";
import imagen21 from "/public/ImageProductos/PADMOUSETCN.webp";
import imagen22 from "/public/ImageProductos/RESMATCN.webp";
import imagen23 from "/public/ImageProductos/TECLADOTCN.webp";
import imagen24 from "/public/ImageProductos/MOUSETCN.webp";


const productosEscolares = [
  {
    nombre: "Lápices De Colores Triangulares Kores Estuche",
    valor: "20.000",
    url: imagen1,
  },
  {
    nombre: "Marcadores Kiut Resaltadores Pastel 8 Piezas Marcatextos",
    valor: "15.000",
    url: imagen2,
  },
  {
    nombre: "Libreta Canson Art Book One A5",
    valor: "5.000",
    url: imagen3,
    estilo: "max-w-[170px]",
  },
  {
    nombre: "Boligrafo Kiut Norma Color De La Tinta Surtidos",
    valor: "10.000",
    url: imagen4,
  },
  {
    nombre: "50 Colores Profesionales Lápices Faber Castell",
    valor: "50.000",
    url: imagen5,
  },
  {
    nombre: "Marcadores Borrables Para Tablero X8 + Borrador",
    valor: "12.000",
    url: imagen6,
  },
  {
    nombre: "Cuaderno Cosido Rayado Peluches X 100 Hojas Norma",
    valor: "8.000",
    url: imagen7,
  },
  {
    nombre: "Escuadra Transportador Faber Castell 993-n",
    valor: "5.000",
    url: imagen8,
  },
];

const productosPiñateriayJugueteria = [
  {
    nombre: "Bombas Globos R-12 Feliz Cumpleaños X 12 Sempertex",
    valor: "3.000",
    url: imagen9,
  },
  {
    nombre: "Inflador Manual Profesional Sempertex",
    valor: "10.000",
    url: imagen10,
  },
  {
    nombre: "Bolcan Unidad",
    valor: "2.000",
    url: imagen11,
  },
  {
    nombre: "Bombas De Números Metalizados 16 O 40 Cm",
    valor: "7.000",
    url: imagen12,
  },
  {
    nombre: "Juego De Mesa Monopolio Tio Rico Ronda",
    valor: "60.000",
    url: imagen13,
  },
  {
    nombre: "Juego De Mesa Stop Ronda pequeño",
    valor: "75.000",
    url: imagen14,
  },
  {
    nombre: "Juego Didactico Enredados Ronda",
    valor: "5.000",
    url: imagen15,
  },
  {
    nombre: "Torre Creaplast Círculos Ensartables X 6 Uds",
    valor: "5.000",
    url: imagen16,
  },
];

const productosTecnologia = [
  {
    nombre: "Mouse Inalámbrico Genius Nx-7000 Calm Black",
    valor: "30.000",
    url: imagen17,
  },
  {
    nombre: "Memoria Usb Kingston 128 Gb 3.2 Exodia Onix Negra",
    valor: "15.000",
    url: imagen18,
  },
  {
    nombre: "Papel Fotográfico Brillante Pointer Glossy 160gr Carta",
    valor: "12.000",
    url: imagen19,
  },
  {
    nombre: "Papel Fotográfico Brillante Pointer Glossy 160gr Carta",
    valor: "10.000",
    url: imagen20,
  },
  {
    nombre: "Pad Mouse Ergonómico En Gel Apoyamuñeca Gris",
    valor: "15.000",
    url: imagen21,
  },
  {
    nombre: "Resma Reprograf Carta Bond Blanco",
    valor: "23.000",
    url: imagen22,
  },
  {
    nombre: "Kit De Teclado Y Mouse Genius Español De Color Negro",
    valor: "64.000",
    url: imagen23,
  },
  {
    nombre: "Mouse Logitech M110 Silent 3 Botone Gris Color Gris",
    valor: "40.000",
    url: imagen24,
  },
];
---

<div>
  <h2 class="flex items-center font-bold text-5xl text-blue-900 mb-20">
    <IconEscolar />
    Materiales Escolares
  </h2>

  <div class="flex text-center justify-center items-center flex-wrap mb-40">
    {
      productosEscolares.map(({ nombre, valor, url }) => (
        <div class="m-5 text-center items-center justify-center bg-blue-100 p-5 rounded-lg max-w-64">
          <div class="flex text-center items-center justify-center mb-5">
            <Image src={url} alt="Imagen" />
          </div>
          <h4 class="text-blue-700 font-extrabold text-wrap pb-2 text-lg">
            {nombre}
          </h4>
          <p class="font-bold text-xl pb-5">{valor}</p>
          <button
            type="button"
            class="bg-blue-800 p-2 rounded text-white hover:bg-blue-500"
          >
            Agregar Al Carrito
          </button>
        </div>
      ))
    }
  </div>

  <h2 class="flex items-center font-bold text-5xl text-blue-900 mb-20">
    <IconGlobo />
    Piñateria y Jugueteria
  </h2>

  <div class="flex text-center justify-center items-center flex-wrap mb-40">
    {
      productosPiñateriayJugueteria.map(({ nombre, valor, url }) => (
        <div class="m-5 text-center items-center justify-center bg-blue-100 p-5 rounded-lg max-w-64">
          <div class="flex text-center items-center justify-center mb-5">
            <Image src={url} alt="Imagen" />
          </div>
          <h4 class="text-blue-700 font-extrabold text-wrap pb-2 text-lg">
            {nombre}
          </h4>
          <p class="font-bold text-xl pb-5">{valor}</p>
          <button
            type="button"
            class="bg-blue-800 p-2 rounded text-white hover:bg-blue-500"
          >
            Agregar Al Carrito
          </button>
        </div>
      ))
    }
  </div>

  <h2 class="flex items-center font-bold text-5xl text-blue-900 mb-20">
    <IconGlobo />
    Tecnología
  </h2>

  <div class="flex text-center justify-center items-center flex-wrap mb-40">
    {
      productosTecnologia.map(({ nombre, valor, url }) => (
        <div class="m-5 text-center items-center justify-center bg-blue-100 p-5 rounded-lg max-w-64">
          <div class="flex text-center items-center justify-center mb-5">
            <Image src={url} alt="Imagen" />
          </div>
          <h4 class="text-blue-700 font-extrabold text-wrap pb-2 text-lg">
            {nombre}
          </h4>
          <p class="font-bold text-xl pb-5">{valor}</p>
          <button
            type="button"
            class="bg-blue-800 p-2 rounded text-white hover:bg-blue-500"
          >
            Agregar Al Carrito
          </button>
        </div>
      ))
    }
  </div>
</div>

<style>
  h2 {
    padding-bottom: 10px;
    border-bottom: 2px solid #c7c7c7;
  }
</style>
