---
import { Image } from "astro:assets";
import Logo from "/public/Image/icono.webp";
import Email from "../Icons/Email.astro";
import Telefono from "../Icons/Telefono.astro";
import Ubicacion from "../Icons/Ubicacion.astro";
import Formulario from "../Icons/Formulario.astro";
import Ubicacion2 from "../Icons/Ubicacion2.astro";
import Facebook from "../Icons/Facebook.astro";
import Instagram from "../Icons/Instagram.astro";
import Whatsapp from "../Icons/Whatsapp.astro";

const CONTACTO = [
  {
    Icon: Telefono,
    Text: "Telefono: 3165738854",
    link: "https://wa.link/a8lj1c",
  },
  {
    Icon: Email,
    Text: "papeleriajsandy@gmail.com",
    link: "mailto:papeleriajsandy@gmail.com",
  },

  {
    Icon: Ubicacion,
    Text: "Carrera 17b # 51-23",
    link: "/#ubicacion",
  },
];

const CONOCENOS = [
  {
    Icon: Email,
    Text: "¿Quienes Somos?",
    link: "/Nosotros",
  },
  {
    Icon: Ubicacion2,
    Text: "Nuestra Papeleria",
    link: "/#ubicacion",
  },

  {
    Icon: Formulario,
    Text: "Formulario Contacto",
    link: "/Nosotros/#Formulario",
  },
];

const REDESOCIALES = [
  {
    Icon: Facebook,
    Text: "Facebook",
    link: "https://www.facebook.com/?locale=es_LA",
  },
  {
    Icon: Instagram,
    Text: "Instagram",
    link: "https://www.instagram.com/",
  },

  {
    Icon: Whatsapp,
    Text: "WhatsApp",
    link: "https://web.whatsapp.com/",
  },
];

const alt = "Logo Empresa";
const clase = "lg:w-52 h-52"
---

<footer class="bg-gray-100 p-10">
  <div class="flex flex-row justify-around">
    <Image src={Logo} alt={alt} class={clase} />

    <div class="flex flex-wrap gap-x-32">
      <div class="text-center justify-center">
        <h3 class="text-blue-900 font-extrabold 2xl:text-2xl lg:text-xl">Contactanos</h3>
        <ul class="py-5 text-center justify-center items-center">
          {
            CONTACTO.map((contacto) => (
              <li class="py-3 hover:text-blue-600 cursor-pointer hover:font-bold hover:scale-110 hover:bg-slate-100">
                <a href={contacto.link} class="flex gap-x-5 lg:text-sm">
                  <contacto.Icon />
                  {contacto.Text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="text-center justify-center">
        <h3 class="text-blue-900 font-extrabold 2xl:text-2xl lg:text-xl">Conocenos</h3>
        <ul class="py-5 text-center justify-center items-center">
          {
            CONOCENOS.map((conocenos) => (
              <li class="py-3 hover:text-blue-600 cursor-pointer hover:font-bold hover:scale-110 hover:bg-slate-100">
                <a href={conocenos.link} class="flex gap-x-5 lg:text-sm">
                  <conocenos.Icon />
                  {conocenos.Text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="text-center justify-center">
        <h3 class="text-blue-900 font-extrabold 2xl:text-2xl lg:text-xl">Redes Sociales</h3>
        <ul class="py-5 text-center justify-center items-center">
          {
            REDESOCIALES.map((redesociales) => (
              <li class="py-3 hover:text-blue-600 cursor-pointer hover:font-bold hover:scale-110 hover:bg-slate-100">
                <a href={redesociales.link} target="_blank" class="flex gap-x-5 lg:text-sm">
                  <redesociales.Icon />
                  {redesociales.Text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</footer>
